html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

@font-face {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
}

body {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #131313;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0 0 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  padding: 43px 20px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__link:hover {
  background-color: #131313;
  color: #fff;
}

.header__item + .header__item {
  margin-left: 10px;
}

.bike {
  padding: 100px 0 150px;
}

.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 60px 0;
}

.bike__subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
  margin: 5px 0 60px;
}

.bike .descr {
  max-width: 420px;
  margin-bottom: 20px;
}

.bike__link {
  margin-top: 80px;
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  padding: 28px 81px;
  background-color: #5e5373;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 0 #3c354a;
          box-shadow: 0 8px 0 #3c354a;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

.bike__link:hover {
  background-color: #18b5a4;
  -webkit-box-shadow: 0 4px 0 #3c354a;
          box-shadow: 0 4px 0 #3c354a;
}

.bike__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bike__column-slider {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin-left: 30px;
  max-width: 200px;
}

.bike-slider .slick-dots {
  right: 0;
  top: 52px;
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  width: 2px;
  height: 25px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  background-color: #131313;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slick-active button {
  background-color: #ff4040;
}
